export(cli_main)
export(cdrgam_cli_def)
export(cdrgam_cli_configure)
export(cdrgam_cli_list)
export(cdrgam_cli_log)
export(cdrgam_cli_plan)
export(cdrgam_cli_purge)
export(cdrgam_cli_run)
export(cdrgam_cli_status)
export(cdrgam_cli_validate)
export(find_cdrgam_project)
export(install_cli)
